{% extends 'main/Web/base.html' %}

{% block title %}
Adil
{% endblock %}

{% block content %}
<div class="back_button"><a class="btn btn-sm" href="index.html">BACK</a></div>

<div class="info row">
  <div class="description col-lg-4">
    <img src="../../../static/images/adil.jpg" class="profile-photo img-fluid" alt="adil_page">
    <h1>Adilzhan Baktiyarov</h1>
    <p class="quote">"хочу питсу"<br></p>
  </div>
  <div class="description1 col-lg-8">
    <h2 style="font-style: italic">1 Имя</h2>
    <p>Адильжан<br>
    </p>
    <h2>2 Никнейм в группе<br></h2>
    <p>@frame.core<br></p>
    <h2>3 Дата рождения<br></h2>
    <p>19.03.2003<br></p>
    <h2>4 Место рождения<br></h2>
    <p>Усть-Каменогорск.<br></p>
    <h2>5 Краткая биография (можно написатьт по угару)<br></h2>
    <p>случайно поступил в ниш, закончил, поступил в аиту, стал миллионером в 20<br></p>
    <h2>6 Любимый предмет<br></h2>
    <p>нет такого<br></p>
    <h2>7 Что или кто нравится<br></h2>
    <p>)<br></p>
    <h2>8 Любимая еда/блюдо<br></h2>
    <p>шаурма (не донер) напротив Астана молл<br></p>
    <h2>9 Любимые воспоминания с МТ-2101<br></h2>
    <p>посиделки в силквее<br></p>
    <h2>10 Любимый препод<br></h2>
    <p>жангир)<br></p>
  </div>
</div>
{% endblock %}
