{% extends 'main/Web/base.html' %}

{% block title %}
Balnur
{% endblock %}

{% block content %}
    <div class="back_button"><a class="btn btn-sm" href="index.html">BACK</a></div>

<div class="info row">
    <div class="description col-lg-4">
        <img src="../../../static/images/balnur.jpg" class="profile-photo img-fluid" alt="balnur_page">
        <h1>Balnur Baizhuminova</h1>
        <p class="quote">"В полночь Вселенная пахнет звездами" - Э. М. Ремарк<br></p>
    </div>
    <div class="description1 col-lg-8">
        <h2 style="font-style: italic">1 Имя</h2>
        <p>Балнур</p>
        <h2>2 Никнейм в группе<br></h2>
        <p>baizhuminovab<br></p>
        <h2>3 Дата рождения<br></h2>
        <p>18 марта 2004 года<br></p>
        <h2>4 Место рождения<br></h2>
        <p>Акжал (ВКО)<br></p>
        <h2>5 Краткая биография (можно написатьт по угару)<br></h2>
        <p>Когда мне было 1 годик, мы переехали в город. До 11го класса училась в средней общеобразовательной школе № 4 города Семей. 11 класс я закончила в селе, в средней школе имени К.Шакенова, жила там у бабушки. Интересовалась живописью, в школьные годы ходила на разные кружки по рисованию. Любила участвовать в разных соревнованиях, собирать награды. В 2021 году поступила в университет с целью получить полезные навыки и дальше развиваться в медиа сфере. <br></p>
        <h2>6 Любимый предмет<br></h2>
        <p>наверное литература (не любила школьные предметы)<br></p>
        <h2>7 Что или кто нравится<br></h2>
        <p>люблю нашу библиотеку<br></p>
        <h2>8 Любимая еда/блюдо<br></h2>
        <p>Обожаю черничный чизкейк<br></p>
        <h2>9 Любимые воспоминания с МТ-2101<br></h2>
        <p>наша первая встреча<br></p>
        <h2>10 Любимый препод<br></h2>
        <p>Наверное Гульнур Смагулова ; )<br></p>
    </div>
</div>
{% endblock %}