{% extends 'main/Web/base.html' %}

{% block title %}
MT-2101
{% endblock %}

{% block content %}
    <div class="text_content">
    <h1>Here we are!</h1>
    <p>MT-2101 is first Media technologies group, assembled in 2021. There are 18 students in our little fam, where we love each other.</p>
</div>
    <div class="container1">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 row-cols-lg-8 g-4 wid">
            <div class="col">
                <a href="jafar.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/jafar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jafar Zhaxybayev</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="askhat.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/askhat.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Askhat Dzhakupov</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="sandu.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/sandu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sandugash Yessen</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="yernar.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/yernar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Yernar Amangaliyev</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="nurken.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/nurken.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nurken Bolatov</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="adil.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/adil.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Adilzhan Baktiyarov</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="akosya.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/akosya.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Akerke Zhalgassova</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="nazerke.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/nazerke.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nazerke Altaeva</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="arunaz.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/arunaz.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Arunaz Makhabayeva</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="sanzhar.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/sanzhar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sanzhar Mustafa</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="balnur.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/balnur.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Balnur Baizhuminova</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="lailym.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/lailym.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lailym Omirbek</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="altyn.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/altyn.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Altynai Omirkhan</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="nurai.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/nurai.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nurai Kinetova</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="symbat.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/symbat.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Symbat Ussupova</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="alua.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/alua.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alua Tastemir</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="dilya.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/dilya.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dilnaz Zholdassova</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="rabi.html" class="a-text">
                    <div class="card h-100">
                        <img src="../../../static/images/rabiga.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rabiga Radikova</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}