{% extends 'main/Web/base.html' %}

{% block title %}
Rabiga
{% endblock %}

{% block content %}
<div class="back_button"><a class="btn btn-sm" href="index.html">BACK</a></div>

<div class="info row">
    <div class="description col-lg-4">
        <img src="../../../static/images/rabiga.jpg" class="profile-photo img-fluid" alt="rabi_page">
        <h1>Rabiga Radikova</h1>
        <p class="quote">“Не делай того, что тебе не нравится. Просто делай что хочешь)”<br></p>
    </div>
    <div class="description1 col-lg-8">
        <h2 style="font-style: italic">1 Имя</h2>
        <p>Рабиға</p>
        <h2>2 Никнейм в группе<br></h2>
        <p>Раби<br></p>
        <h2>3 Дата рождения<br></h2>
        <p>22.07.2004<br></p>
        <h2>4 Место рождения<br></h2>
        <p>Уральск<br></p>
        <h2>5 Краткая биография (можно написатьт по угару)<br></h2>
        <p>Я окончила школу 42 "Ак ниет" гимназию. Нравится смотреть дорамы.А в  свободное время играла в волейбол.<br></p>
        <h2>6 Любимый предмет<br></h2>
        <p>Алгебра </p>
        <h2>7 Что или кто нравится<br></h2>
        <p>Атмосфера в универе.<br></p>
        <h2>8 Любимая еда/блюдо<br></h2>
        <p>Хммм.. Құрт. Он вкусный, соленый и полезный, избавляет от тошноты<br></p>
        <h2>9 Любимые воспоминания с МТ-2101<br></h2>
        <p>Время когда играли в "тайного санту"<br></p>
        <h2>10 Любимый препод<br></h2>
        <p>Женисбева Меруерт , преподавательница английского языка<br></p>
    </div>
</div>
{% endblock %}