{% extends 'main/Web/base.html' %}

{% block title %}
Yernar
{% endblock %}

{% block content %}
<div class="back_button"><a class="btn btn-sm" href="index.html">BACK</a></div>

<div class="info row">
    <div class="description col-lg-4">
        <img src="../../../static/images/yernar.png" class="profile-photo img-fluid" alt="yernar_page">
        <h1>Yernar Amangaliev</h1>
        <p class="quote">"Дединсайдом не рождаются им становятся"<br></p>
    </div>
    <div class="description1 col-lg-8">
        <h2 style="font-style: italic">1 Имя</h2>
        <p>Ернар<br>
        </p>
        <h2>2 Никнейм в группе<br></h2>
        <p>Edvardbala<br></p>
        <h2>3 Дата рождения<br></h2>
        <p>2003.<br></p>
        <h2>4 Место рождения<br></h2>
        <p>Уральск.<br></p>
        <h2>5 Краткая биография (можно написатьт по угару)<br></h2>
        <p>Окончил я школу-ЛИЦЕЙ 41, всегда интересовался рисованием, черчением и т.д.<br></p>
        <h2>6 Любимый предмет<br></h2>
        <p>Русская Литература <br></p>
        <h2>7 Что или кто нравится<br></h2>
        <p>Есть один паренек Нуркен Болатов (но на меня внимание не обращает).<br></p>
        <h2>8 Любимая еда/блюдо<br></h2>
        <p>Нет какого любимого блюдо<br></p>
        <h2>9 Любимые воспоминания с МТ-2101<br></h2>
        <p>Когда дарили подарки друг другу на Тайной санте<br></p>
        <h2>10 Любимый препод<br></h2>
        <p>Дина Кассабек<br></p>
    </div>
</div>
{% endblock %}